# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*

# =========================
# Django
# =========================
*.log
db.sqlite3
staticfiles/
media/

# Migrations (opcional, comenta si quieres versionarlas)
# */migrations/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/

# =========================
# MySQL
# =========================
*.sql

# =========================
# env
# =========================
.env/
venv/